{% extends('base.html.twig') %}

{% block body %}

<div class="card" style="width: 18rem;">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">{{ category.name }}</h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

{% endblock %}