{% extends('base.html.twig') %}

{% block body %}

<div class="container"> 
  <div class="card-group">

      <!--bootstrap card with 3 horizontal images-->
      <div class="row"> 
          <div class="card col-md-4"> 
            <div class="card-body"> 
              <h3 class="card-title">{{ product.name }}</h3> 
              <p class="card-text">{{ product.description }}</p>
              {% for image in  images %}
                <img class="size" src="{{ '/uploads/' ~ image }}" alt="">
              {% endfor %}
            </div>
          </div>
      </div> 
  </div> 
</div> 

{% endblock %}